In [2]:
import os
import pandas as pd

In [4]:
df = pd.read_csv("../data_given/winequality.csv")

In [6]:
df.columns

Index(['Unnamed: 0', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1599.0,799.000000,461.735855,0.00000,399.5000,799.00000,1198.500000,1598.00000
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [12]:
overview = df.describe()

In [16]:
overview.loc[['min', 'max']].to_dict()

{'Unnamed: 0': {'min': 0.0, 'max': 1598.0},
 'fixed acidity': {'min': 4.6, 'max': 15.9},
 'volatile acidity': {'min': 0.12, 'max': 1.58},
 'citric acid': {'min': 0.0, 'max': 1.0},
 'residual sugar': {'min': 0.9, 'max': 15.5},
 'chlorides': {'min': 0.012, 'max': 0.611},
 'free sulfur dioxide': {'min': 1.0, 'max': 72.0},
 'total sulfur dioxide': {'min': 6.0, 'max': 289.0},
 'density': {'min': 0.99007, 'max': 1.00369},
 'pH': {'min': 2.74, 'max': 4.01},
 'sulphates': {'min': 0.33, 'max': 2.0},
 'alcohol': {'min': 8.4, 'max': 14.9},
 'quality': {'min': 3.0, 'max': 8.0}}

In [17]:
## Schema

In [18]:
overview.loc[['min', 'max']].to_json('schema_in.json')

In [22]:
class NotInRange(Exception):
    def __init__ (self, input_, messages = "Value not in range"):
        # self.input_ = input
        self.message = messages
        super().__init__(self.message)

In [23]:
raise NotInRange

TypeError: __init__() missing 1 required positional argument: 'input_'

In [25]:
class NotInRange(Exception):
    def __init__(self, input_, messages = "value not in range"):
        self.input = input_
        self.message = message
        super().__init__(self.message)
    pass

In [26]:
raise CustomError

CustomError: